.navbar{
	background-color:#ff9600e6;
	border: 1px solid transparent;
	min-height: 70px;
	margin-bottom: 10px;
	color:#fff;
	
}
.navbar-brand{
	line-height: inherit;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
.navbar-nav>li>a{
	line-height: inherit;
	margin-top:7px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #615d5d;
} 
.navbar-inverse .navbar-toggle{
	margin-top: 17px;
}
#form{
	box-shadow: 5px 5px #888888;
}
#footer{
	font-size: 12px;
	margin-top:200px;
	text-align: center;
}
.panel-info{
	width:100%;
}
.panel-body{
	padding:0px;
    min-height: 300px;
}
.table-responsive{
	min-height: 300px;
}
.btn-default{
	background-color:#42f4f4;
}
.inputfield{
	margin:0;
	padding:5px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  float:left;  
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 25px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
strong{
	float:left;
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 18px;
}
.label{
  color:white;
  padding:8px;
  font-size: 15px;
}
.other {background-color: #e7e7e7; color: black;}