<!--to display user sentences upon clicking sentences option in the navigation bar-->
{% extends "annotatorapp/base.html" %}
{%block title%}Example Sentences{%endblock%}
{%block content%}
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>Sentence</td>
			</tr>
		</thead>
		<tbody>
			{% for i,l in lists %} 
			<tr>
				<td>{{i.id}}</td>
				<td ><a href='' id='{{i.id}}' class='exs'>{{l.line}}</a></td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
{%endblock%}
{%block javascript%}
<script type="text/javascript">
$(document).ready(function(){
	$('.exs').click(function(){
		$(this).attr('href','/?line='+ $(this).text());
	});
});
</script>
{%endblock%}